*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial,sans-serif;
}
body{
    background-color: #FF5200;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 32px 100px;
}
.logo{
    
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;

}
.logo img{
    width: 55px;
    border-radius: 10px;
}
.two{
    position: absolute;
    gap: 1063px;
}

.right{
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 60px
    
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
    justify-content: space-between;
}

.btn{
    display: flex;
    gap: 20px;
}
.app{
    padding: 14px 22px;
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}
.sign{
    padding: 14px 28px;
    background-color: black;
    color: white;
    border-radius: 14px;
    font-size: 16px;
    cursor:pointer;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.hero h1{
    color: white;
    font-size: 45px;
    text-align: center;
    line-height: 60px;
    
}
.search{
    display: flex;
    gap: 20px;
}
.location,.search-box{
width:450px;
height:70px;
background:white;
border-radius:18px;
display:flex;
align-items:center;
padding:0 20px;
}
.location input,
.search-box input{
border:none;
outline:none;
font-size:18px;
width:100%;
margin-left:10px;
}
.location i{
    font-size: 22px;
    color: #FF5200;

}
.search-box i{
    font-size: 22px;
    color: #555d;
}
div{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.one{
  
    height: 10px;
    width: 70%;
    background-color: aliceblue;

}
